Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@arman-siddik 
YHMunna
/
food-chemistry
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
food-chemistry/style.css
@YHMunna
YHMunna Assingment01
Latest commit 2d33f08 9 hours ago
 History
 1 contributor
158 lines (131 sloc)  3.11 KB
  
    body {
        font-family: 'Nunito Sans', sans-serif;
        margin: 0%;
    }
    
    .special {
        background-color: rgba(120, 237, 241, 0.993);
        background: rgba(0, 151, 251, 0.3)
    }
    
    .special h1 {
        text-align: center;
    }
    
    .color {
        color: orange;
    }
    
    .container {
        display: flex;
        width: 100%;
        margin: 120px 0px 80px 0px;
    }
    
    .half-div {
        width: 50%;
        padding-left: 100px;
    }
    
    .header {
        font-size: 60px;
        padding-top: 100px;
    }
    
    .header-color {
        color: cornflowerblue;
    }
    
    .header-p {
        text-align: justify;
        font-size: 20px;
        padding-bottom: 40px;
    }
    
    .order-button {
        background-image: linear-gradient( cyan, rgb(39, 39, 228));
        text-decoration: none;
        padding: 20px 30px;
        border-radius: 30px;
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
    
    .half-div img {
        padding-right: 20px;
    }
    
    #back-img {
        background-image: url(images/7.png);
        background-repeat: no-repeat;
    }
    
    .about-img {
        width: 50%;
        padding: 50px 0px 0px 200px;
    }
    
    .about-div {
        width: 50%;
        padding-left: 20px;
    }
    
    #about-header {
        padding-top: 90px;
        font-size: 40px;
    }
    
    .about-para {
        padding: 0px 20px 50px 0px;
        text-align: justify;
        font-size: 20px;
    }
    
    .about-button {
        background-image: linear-gradient( orange, tomato);
        text-decoration: none;
        padding: 20px 30px;
        border-radius: 30px;
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
    
    #recipies {
        text-align: center;
        font-size: 20px;
    }
    
    #recipies p {
        margin: 0px 350px;
    }
    
    .con-3-div {
        width: 50%;
        border-color: whitesmoke solid;
        border-radius: 30px;
        box-shadow: 3px 3px 10px rgb(197, 195, 195);
        padding: 15px;
        font-size: 20px;
        margin: 25px;
    }
    
    .con-3-div img {
        width: 100%;
    }
    
    .subscriber {
        background-color: whitesmoke solid;
        border-radius: 20px;
        box-shadow: 5px 5px 15px rgb(197, 195, 195);
        display: flex;
        margin: 100px;
    }
    
    .sub-div {
        text-align: left;
        margin: 0px 100px;
        padding-bottom: 30px;
    }
    
    .subscriber h1 {
        color: black;
        font-size: 50px;
        font-weight: 900;
    }
    
    footer {
        background-color: black;
        text-align: center;
        padding: 10px;
    }
    
    footer p {
        color: whitesmoke;
    }
    
    #food {
        background: -webkit-linear-gradient(rgb(5, 251, 66), rgb(87, 175, 233));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    #chemistry {
        background: -webkit-linear-gradient(rgb(214, 231, 59), rgb(13, 187, 230));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete